<%- include('partials/header') -%>

<header>
    <div class="container">

      <div class="">
        <img src="asset/mountain-logo.png" alt="">
      </div>
      <div class="headings">
        <h2>Activation</h2>
        <h3>This email was already active</h3>
        <a href="/mountains" class="btn">go to mountains</a>
      </div>
    </div>
</header>

<%- include('partials/footer')  -%>