<%- include('partials/header') -%>

<header>
    <div class="container">

      <div class="logo">
        <img src="asset/mountain-logo.png" alt="">
      </div>
      <div class="headings">
        <h2>Mountain Peaks</h2>
        <h3>Enter for see beautiful mountains</h3>
        <a href="/mountains" class="btn">View Mountains</a>
      </div>
    </div>
  </header>

<%- include('partials/footer') -%>
