
<%- include('partials/header') -%>

<div class="container">
    <ul class="cards">
        <li class="card">
          <img src="asset/foto/everest.jpg" alt="Everest">
          <h4>Everest</h4>
          <p>8848 m</p>
        </li>
        <li class="card">
          <img src="asset/foto/k2.jpg" alt="K2">
          <h4>K2</h4>
          <p>8611 m</p>
        </li>
        <li class="card">
          <img src="asset/foto/Kangchenjunga.jpg" alt="Kangchenjunga">
          <h4>Kangchenjunga</h4>
          <p>8586 m</p>
        </li>
        <li class="card">
          <img src="asset/foto/lhotse.jpg" alt="Lhotse">
          <h4>Lhotse</h4>
          <p>8516 m</p>
        </li>
        <li class="card">
          <img src="asset/foto/makalu.jpg" alt="Makalu">
          <h4>Makalu</h4>
          <p>8463 m</p>
        </li>
        <li class="card">
          <img src="asset/foto/cho-oyu.jpg" alt="Cho Oyu">
          <h4>Cho Oyu</h4>
          <p>8201 m</p>
        </li>
        <li class="card">
            <img src="asset/foto/dhaulagiri.jpg" alt="Dhaulagiri">
            <h4>Dhaulagiri</h4>
            <p>8167 m</p>
          </li>
          <li class="card">
            <img src="asset/foto/manaslu.jpg" alt="Manaslu">
            <h4>Manaslu</h4>
            <p>8167 m</p>
          </li>
          <li class="card">
            <img src="asset/foto/nanga-parbat.jpg" alt="Nanga Parbat">
            <h4>Nanga Parbat</h4>
            <p>8125 m</p>
          </li>
          <li class="card">
            <img src="asset/foto/annapurna.jpg" alt="Annapurna">
            <h4>Annapurna</h4>
            <p>8091</p>
          </li>
          <li class="card">
            <img src="asset/foto/gasherbrum.jpg" alt="Gasherbrum I">
            <h4>Gasherbrum I</h4>
            <p>8068 m</p>
          </li>
          <li class="card">
            <img src="asset/foto/broad-peak.jpg" alt="Broad Peak">
            <h4>Broad Peak</h4>
            <p>8047 m</p>
          </li>
          <li class="card">
            <img src="asset/foto/gasherbrum2.jpg" alt="Gasherbrum II">
            <h4>Gasherbrum II</h4>
            <p>8035 m</p>
          </li>
          <li class="card">
            <img src="asset/foto/shisha-pangma.jpg" alt="Shishapangma">
            <h4>Shishapangma</h4>
            <p>8027 m</p>
          </li>
      </ul>
    </div>

    <%- include('partials/footer') -%>